.top-header{
    width: 100%;
    height: 54px;
}
.header-container{
    display: flex;
    padding: 10px 0;
    color: #fff;
    justify-content: space-between;
    max-width: 1080px;
    margin: auto;
    height: 100%;
    box-sizing: border-box;
}

.nav-container{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1;
    list-style: none;
    height: 100%;
    margin: 0;
    align-items: center;
}
.logo{
    flex: 1;
    max-width: 40%;
}

.logo a img{
    height: 150px;
}
.nav-container li{
    margin-right: 10px;
    padding: 10px 15px;
}

.nav-container li a{
    text-decoration: none;
    color: #fff;
}